<%= form_with(model: club_sport, class: "contents") do |form| %>
  <% if club_sport.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(club_sport.errors.count, "error") %> prohibited this club_sport from being saved:</h2>

      <ul class="list-disc ml-6">
        <% club_sport.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :club_profiles_id %>
    <%= form.text_field :club_profiles_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": club_sport.errors[:club_profiles_id].none?, "border-red-400 focus:outline-red-600": club_sport.errors[:club_profiles_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :sports_id %>
    <%= form.text_field :sports_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": club_sport.errors[:sports_id].none?, "border-red-400 focus:outline-red-600": club_sport.errors[:sports_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
