<div id="<%= dom_id club_material %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Club profile:</strong>
    <%= club_material.club_profile_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= club_material.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= club_material.quantity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= club_material.description %>
  </div>
</div>
