

<body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
            <div class="text-center mb-8 mt-8">
                <%= link_to root_path do %>
                    <%= image_tag "logo_sem_texto.png", alt: "Logo", class: "mx-auto mb-4", height: 70, width: 70 %>
                <% end %>
                <% if user_signed_in? and (current_user.club? or current_user.board?) %>
                    <p class="text-indigo-100 text-xl font-bold mt-2">Escolha o tipo de conta que pretende criar para o seu clube</p>
                <% else %>
                    <p class="text-indigo-100 text-xl font-bold mt-2">Escolha o tipo de conta que pretende criar</p>
                <% end %>
                
            </div>

    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <% grid_cols = (user_signed_in? && current_user.club?) ? "lg:grid-cols-3" : "lg:grid-cols-4" %>
        <div class="grid grid-cols-1 md:grid-cols-2 <%= grid_cols %> gap-6">
            <!-- Player Card -->
            <div class="card-hover player-bg bg-gray-800 rounded-xl border border-gray-700 p-6 flex flex-col h-full">
                <div class="flex items-center mb-4">
                    <div class="w-16 h-16 rounded-full bg-indigo-500 flex items-center justify-center mr-4">
                        <i data-feather="user" class="w-8 h-8 text-white"></i>
                    </div>
                    <h2 class="text-xl font-semibold">Jogador</h2>
                </div>
                <p class="text-gray-400 flex-grow">
                    Tens tudo o que precisas num só lugar: os teus treinos organizados, 
                    o teu perfil desportivo completo e a ligação direta à tua equipa. 
                    Gere a tua presença e marca a tua presença no teu clube.
                
                </p>
                <ul class="space-y-2 text-sm text-indigo-300 mt-4">
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Consulta o calendário de treinos com campo e balneário atribuídos
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Perfil com posição, posição secundária e pé/mão dominante
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Associação a equipas e visibilidade para treinadores do clube
                    </li>
                </ul>
                <% if (user_signed_in? and current_user.club? and current_user.club_profile.has_no_sports?) or (user_signed_in? and current_user.board? and current_user.board_profile.club_profile.has_no_sports?) %>
                    <button  class="mt-6 w-full bg-indigo-400 text-white py-2 px-4 rounded-lg transition text-center disabled" > Precisa de uma equipa primeiro! </button>
                <% else %>
                    <%= link_to "Escolher Jogador", new_player_profile_registration_path, class: "mt-6 w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-4 rounded-lg transition text-center" %>
                <% end %>
            </div>

            <!-- Coach Card -->
            <div class="card-hover coach-bg bg-gray-800 rounded-xl border border-gray-700 p-6 flex flex-col h-full">
                <div class="flex items-center mb-4">
                    <div class="w-16 h-16 rounded-full bg-green-500 flex items-center justify-center mr-4">
                        <i data-feather="award" class="w-8 h-8 text-white"></i>
                    </div>
                    <h2 class="text-xl font-semibold">Treinador</h2>
                </div>
                <p class="text-gray-400 flex-grow">
                    Tens tudo o que precisas num só lugar: os teus treinos organizados, o teu perfil desportivo completo e a ligação direta à tua equipa. Gere a tua presença e marca a tua presença no teu clube.
                </p>
                <ul class="space-y-2 text-sm text-green-300 mt-4">
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Consulta o calendário de treinos com campo e balneário atribuídos
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Perfil com tipo de treinador
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Associação a equipas e visibilidade para treinadores do clube
                    </li>
                </ul>
                <% if (user_signed_in? and current_user.club? and current_user.club_profile.has_no_sports?) or (user_signed_in? and current_user.board? and current_user.board_profile.club_profile.has_no_sports?) %>
                    <button  class="mt-6 w-full bg-green-500  text-white py-2 px-4 rounded-lg transition text-center disabled" > Precisa de uma equipa primeiro! </button>
                <% else %>
                    <%= link_to "Escolher Treinador", new_coach_profile_registration_path, class: "mt-6 w-full bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-lg transition text-center" %>
                <% end %>
                
            </div>

            <!-- Board Card -->
            <% if user_signed_in? and current_user.club? %>
            <div class="card-hover board-bg bg-gray-800 rounded-xl border border-gray-700 p-6 flex flex-col h-full">
                <div class="flex items-center mb-4">
                    <div class="w-16 h-16 rounded-full bg-orange-500 flex items-center justify-center mr-4">
                        <i data-feather="users" class="w-8 h-8 text-white"></i>
                    </div>
                    <h2 class="text-xl font-semibold">Direção</h2>
                </div>
                <p class="text-gray-400 flex-grow">
                    Os membros da direção têm acesso à gestão administrativa do clube, com uma visão global de toda a estrutura, tomam decisões importantes e garantem que todas as áreas funcionam de forma organizada e transparente
                </p>
                <ul class="space-y-2 text-sm text-orange-300 mt-4">
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Acompanhamento e gestão do clube
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Acesso a ferramentas de planeamento 
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Gestão da página e comunicação do clube
                    </li>
                </ul>
                <%= link_to "Escolher Direção", new_board_profile_registration_path, class: "mt-6 w-full bg-orange-400 hover:bg-orange-500 text-white py-2 px-4 rounded-lg transition text-center" %>
            </div>
            <% end %>

            <!-- Fan Card -->
            <% if !user_signed_in? %>
            <div class="card-hover fan-bg bg-gray-800 rounded-xl border border-gray-700 p-6 flex flex-col h-full">
                <div class="flex items-center mb-4">
                    <div class="w-16 h-16 rounded-full bg-rose-500 flex items-center justify-center mr-4">
                        <i data-feather="heart" class="w-8 h-8 text-white"></i>
                    </div>
                    <h2 class="text-xl font-semibold">Adepto</h2>
                </div>
                <p class="text-gray-400 flex-grow">
                    Segue os clubes e atletas que gostas, interage com publicações 
                        e mantém-te a par de tudo o que acontece na comunidade desportiva 
                        que te é mais próxima.
                </p>
                <ul class="space-y-2 text-sm text-rose-300 mt-4">
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Segue clubes, jogadores e treinadores que te interessam
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Interage com publicações - gosta, comenta e guarda para mais tarde
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Feed personalizado com conteúdo dos clubes e atletas que segues
                    </li>
                </ul>
                <%= link_to "Escolher Adepto", new_user_profile_registration_path, class: "mt-6 w-full bg-rose-600 hover:bg-rose-700 text-white py-2 px-4 rounded-lg transition text-center" %>
            </div>
            <% end %>

            <!-- Club Card -->
            <% if !user_signed_in? %>
            <div class="card-hover club-bg bg-gray-800 rounded-xl border border-gray-700 p-6 flex flex-col h-full">
                <div class="flex items-center mb-4">
                    <div class="w-16 h-16 rounded-full bg-purple-500 flex items-center justify-center mr-4">
                        <i data-feather="users" class="w-8 h-8 text-white"></i>
                    </div>
                    <h2 class="text-xl font-semibold">Clube</h2>
                </div>
                <p class="text-gray-400 flex-grow">
                    Os clubes têm acesso a ferramentas completas para coordenar as escalões, gerir a parte financeira e garantir o bom funcionamento de toda a estrutura interna
                
                </p>
                <ul class="space-y-2 text-sm text-purple-300 mt-4">
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Gestão de equipas, escalões e jogadores associados
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Sistema manutenção de infraestruturas e treinos
                    </li>
                    <li class="flex items-center">
                        <i data-feather="check" class="feather-check w-4 h-4 mr-2 text-primary-500"></i>
                        Gestão financeira mensal do clube
                    </li>
                </ul>
                <%= link_to "Escolher Clube", new_club_profile_registration_path, class: "mt-6 w-full bg-purple-600 hover:bg-purple-700 text-white py-2 px-4 rounded-lg transition text-center" %>
            </div>
            <% end %>
        </div>

        <% if !user_signed_in? %>
        <div class="py-20 px-4 sm:px-6 lg:px-8 text-center text-gray-500 text-sm">
            <p>Já tem uma conta?
            <%= link_to "Entrar", new_user_session_path, class: "text-indigo-400 hover:text-indigo-300" %>
        </div>
        <% end %>

    </main>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    feather.replace();
  });
</script>
</body>
