  <div class="container mx-auto pt-24 pb-12 px-6">
  <div class="max-w-3xl mx-auto">

  <%= link_to "← Voltar", posts_path, class: "text-blue-400 hover:text-blue-300 mb-6 inline-block" %>

  <%= render 'posts/post', post: @post %>

  <div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-6">
  <h3 class="text-xl font-bold mb-4">Comentários</h3>

  <%= turbo_frame_tag "comments_list_#{@post.id}", class: "space-y-4 mb-6" do %>
  <% @comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
  <% end %>

  <% if @comments.empty? %>
  <p class="text-gray-400 text-center py-8">
  Ainda não há comentários. Sê o primeiro!
  </p>
  <% end %>
  <% end %>

  <%= render 'comments/form', post: @post %>
  </div>

  </div>
  </div>
