<div id="<%= dom_id club_pitch %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Club profiles:</strong>
    <%= club_pitch.club_profiles_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Club training centers:</strong>
    <%= club_pitch.club_training_centers_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sports:</strong>
    <%= club_pitch.sports_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= club_pitch.name %>
  </div>
</div>
